name: de-mars-rover

on:
  push:
    branches:
      - main

jobs:
  run-tests:
    name: run-tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: set-up
        run: make set-up
      
      - name: run-checks
        run: make checks

      - name: run-main
        run: make run
